<% navigationData.forEach(function(group){ %>
<div class="sg-sidebar__group">
    <% if(group.name) { %><h3 class="sg-sidebar__title"><%= group.name %></h3><% } %>
    <ul>
        <% group.items.forEach(function(item){ %>
        <li class="sg-list-item-reset sg-sidebar__anchor">
            <a class="sg-anchor" href="<%= item.href %>"><%= item.name %></a>
        </li>
        <% }); %>
    </ul>
</div>
<% }); %>
