<ul>
    <% navigationData.forEach(function(item){ %>
    <li class="sg-list-item-reset sg-sidebar__anchor">
        <a class="sg-anchor" href="<%= item.href %>"><%= item.name %></a>
    </li>
    <% }); %>
</ul>
